:root {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
}

.weather-container {
    border: 1px solid black;
    text-align: center;
}

select {
    appearance: none;
    width: 400px;
    text-align: center;
    font-size: 1.15rem;
    padding: 0.675em 0em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}

.weather-info {
    display: flex;
    flex-direction: column;
}
